{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Update</title>
    <link rel="stylesheet" href="{% static 'styles/employee.css' %}">
</head>
<body>


<div class="container">
   
    <form id="projectForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% include "components/_charterm.html" %}
         {% include "components/_closurem.html" %}




       
       
        <div class="submit-button-section">
            <button type="submit" class="next-step" style="background-color: gainsboro; color: black;">Submit</button>
        </div>

    
    </form>
</div>


<script defer src="{% static 'js/form_navigation.js' %}"></script>
</body>
</html>
