{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Form</title>
    <link rel="stylesheet" href="{% static 'styles/employee.css' %}">
</head>
<body>

<div class="head">
    <h2>KPI</h2>
    <div class="head-items">
        <a href="{% url 'employee-projects' %}">Projects</a>
        <a href="">welcome {{user.username}}</a>
        <a href="{% url 'logout_view' %}">logout</a>
    </div>
</div>
<div class="container">
    <h2>Project Charter</h2>

    <form id="projectForm" method="POST">
        {% csrf_token %}


        <!-- Project Details -->
        <div class="form-step">
            <h3>Project Details</h3>
            <div class="form-row">
                <div class="input-container">
                    <div class="input-field">
                        <label>Project Name</label>
                        <input type="text" name="project_name">
                    </div>
                    <div class="input-field">
                        <label>IT Project Manager</label>
                        <input type="text" name="it_project_manager">
                    </div>
                    <div class="input-field">
                        <label>IT Service Owner Manager</label>
                        <input type="text" name="it_service_owner_manager">
                    </div>
                    <div class="input-field">
                        <label>Business Sponsor</label>
                        <input type="text" name="business_sponsor">
                    </div>
                    <div class="input-field">
                        <label>Business Owner</label>
                        <input type="text" name="business_owner">
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert">
                        {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                    <div class="input-field">
                        <label>Start Date</label>
                        <input type="date" name="project_start_date">
                    </div>
                </div>
    
                <div class="input-container">
                    <div class="input-field">
                        <label>Portfolio</label>
                        <input type="text" name="portfolio_operations">
                    </div>
                    <div class="input-field-check">
                        <label>Critical Project</label>
                        <input type="checkbox" name="critical_project">
                    </div>
                    <div class="input-field">
                        <label>Budget Owner</label>
                        <input type="text" name="budget_owner">
                    </div>
                    <div class="input-field">
                        <label>Project Budget</label>
                        <input type="text" name="project_budget">
                    </div>
                    <div class="input-field">
                        <label>IT PMO</label>
                        <input type="text" name="it_pmo">
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert">
                        {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                    <div class="input-field">
                        <label>Finish Date</label>
                        <input type="date" name="project_finish_date">
                    </div>
                </div>
            </div>
    
            <hr class="seperator"/>
    
            <div>
                <div class="input-field">
                    <label>Project Description</label>
                    <textarea name="project_description"></textarea>
                </div>
                <div class="input-field">
                    <label>Business Value</label>
                    <textarea name="business_value"></textarea>
                </div>
                <div class="input-field">
                    <label>ROI (%)</label>
                     <input type="number" name="roi">
                </div>
                <div class="input-field">
                    <label>Project Scope</label>
                    <textarea name="project_scope"></textarea>
                </div>
                <div class="input-field">
                    <label>Constraints</label>
                    <textarea name="constraints"></textarea>
                </div>
                <div class="input-field">
                    <label>Vendor Service Support</label>
                    <textarea name="vendor_service_support"></textarea>
                </div>
            </div>
    
            <div class="button-section">
                
                <button type="button" class="next-step">Next</button>
            </div>
        </div>

        <!-- Deliverables -->


        <div class="form-step">
            <h3>Deliverables</h3>
            
            <div>
                <div class="dev-row">
                    <div class="input-field item">
                        <label>Name</label>
                        <input type="text" name="dev_first_name">
                    </div>
                    <div class="input-field date">
                        <label>Date</label>
                        <input type="date" name="dev_first_date">
                    </div>
                </div>
                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="dev_second_name">
                    </div>
                    <div class="input-field date">
                        <input type="date" name="dev_second_date">
                    </div>
                </div>
                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="dev_third_name">
                    </div>
                    <div class="input-field date">
                        <input type="date" name="dev_third_date">
                    </div>
                </div>
                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="dev_fourth_name">
                    </div>
                    <div class="input-field date">
                        <input type="date" name="dev_fourth_date">
                    </div>
                </div>
                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="dev_fifth_name">
                    </div>
                    <div class="input-field date">
                        <input type="date" name="dev_fifht_date">
                    </div>
                </div>
                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="dev_sixth_name">
                    </div>
                    <div class="input-field date">
                        <input type="date" name="dev_sixth_date">
                    </div>
                </div>
                
            </div>

    
            <div class="button-section">
                <button type="button" class="prev-step">Previous</button>
                <button type="button" class="next-step">Next</button>
            </div>
        </div>



        <!-- Initial Project Plan -->

        <div class="form-step">
            <h3>Initial Project Plan</h3>
            
            <div>
                <div class="dev-row">
                    <div class="input-field item">
                        <label>Task Name</label>
                        <input type="text" name="first_task_name">
                    </div>
                    <div class="input-field date">
                        <label>Duration</label>
                        <input type="text" name="first_task_duration">
                    </div>
                    
                    <div class="input-field date">
                        <label>Start</label>
                        <input type="date" name="first_task_starting">
                    </div>
                    <div class="input-field date">
                        <label>Finish</label>
                        <input type="date" name="first_task_ending">
                    </div>
                </div>

                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="second_task_name">
                    </div>
                    <div class="input-field date">
                        <input type="text" name="second_task_duration">
                    </div>
                    
                    <div class="input-field date">
                        <input type="date" name="second_task_starting">
                    </div>
                    <div class="input-field date">
                        <input type="date" name="second_task_ending">
                    </div>
                </div>

                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="third_task_name">
                    </div>
                    <div class="input-field date">
                        <input type="text" name="third_task_duration">
                    </div>
                    
                    <div class="input-field date">
                        <input type="date" name="third_task_starting">
                    </div>
                    <div class="input-field date">
                        <input type="date" name="third_task_ending">
                    </div>
                </div>
            </div>

    
            <div class="button-section">
                <button type="button" class="prev-step">Previous</button>
                <button type="button" class="next-step">Next</button>
            </div>
        </div>

        <!-- Risks & Issues -->

        <div class="form-step">
            <h3>Risks & Issues</h3>
            
            <div>
                <div class="dev-row">
                    <div class="input-field item">
                        <label>Task Name</label>
                        <input type="text" name="first_risk_name">
                    </div>
                    <div class="input-field date">
                        <label>Summary</label>
                        <input type="text" name="first_risk_summary">
                    </div>
                    
                    <div class="input-field date">
                        <label>Due Date</label>
                        <input type="date" name="first_risk_date">
                    </div>
                    <div class="input-field date">
                        <label>Sevirity(H|L|M)</label>
                        <input type="text" name="first_risk_sevirity">
                    </div>
                    <div class="input-field date">
                        <label>Mitigation</label>
                        <input type="text" name="first_risk_mitigation">
                    </div>
                </div>

                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="second_risk_name">
                    </div>
                    <div class="input-field date">
                        <input type="text" name="second_risk_summary">
                    </div>
                    
                    <div class="input-field date">
                        <input type="date" name="second_risk_date">
                    </div>
                    <div class="input-field date">
                        <input type="text" name="second_risk_sevirity">
                    </div>
                    <div class="input-field date">
                        <input type="text" name="second_risk_mitigation">
                    </div>
                </div>

                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="third_risk_name">
                    </div>
                    <div class="input-field date">
                        <input type="text" name="third_risk_summary">
                    </div>
                    
                    <div class="input-field date">
                        <input type="date" name="third_risk_date">
                    </div>
                    <div class="input-field date">
                        <input type="text" name="third_risk_sevirity">
                    </div>
                    <div class="input-field date">
                        <input type="text" name="third_risk_mitigation">
                    </div>
                </div>

            </div>

            <input type="hidden" name="final_submit" value="true">
    
            <div class="button-section">
                <button type="button" class="prev-step">Previous</button>
                <button type="button" class="next-step">Next</button>
            </div>
        </div>

        <!-- Stakeholders  -->


        <div class="form-step">
            <h3>Stakeholders</h3>
            
            <div>
                <div class="dev-row">
                    <div class="input-field item">
                        <label>Name</label>
                        <input type="text" name="stack_first_name">
                    </div>
                    <div class="input-field item">
                        <label>Department</label>
                        <input type="text" name="stack_first_department">
                    </div>
                    <div class="input-field item">
                        <label>Role</label>
                        <input type="text" name="stack_first_role">
                    </div>
                </div>

                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="stack_second_name">
                    </div>
                    <div class="input-field item">
                        <input type="text" name="stack_second_department">
                    </div>
                    <div class="input-field item">
                        <input type="text" name="stack_second_role">
                    </div>
                </div>

                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="stack_third_name">
                    </div>
                    <div class="input-field item">
                        <input type="text" name="stack_third_department">
                    </div>
                    <div class="input-field item">
                        <input type="text" name="stack_third_role">
                    </div>
                </div>

                <div class="dev-row">
                    <div class="input-field item">
                        <input type="text" name="stack_fourth_name">
                    </div>
                    <div class="input-field item">
                        <input type="text" name="stack_fourth_department">
                    </div>
                    <div class="input-field item">
                        <input type="text" name="stack_fourth_role">
                    </div>
                </div>
                
            </div>

    
            <div class="button-section">
                <button type="button" class="prev-step">Previous</button>
                <button type="button" class="next-step">Next</button>
            </div>
        </div>

        <!-- Governance -->

        <div class="form-step">
            <h3>Governance</h3>
            
            <div>
                <div class="dev-row-row">
                    <div class="input-field-row">
                        <label>Communication plan</label>
                        <input type="text" name="c_plan">
                    </div>
                    <div class="input-field-row">
                        <label>MS Project online</label>
                        <input type="text" name="ms_project">
                    </div>
                    <div class="input-field-row">
                        <label>Project Report</label>
                        <input type="text" name="project_report">
                    </div>
                </div>
            </div>
    
            <div class="button-section">
                <button type="button" class="prev-step">Previous</button>
                <button type="button" class="next-step">Next</button>
            </div>
        </div>

        <!-- Approvals -->

        <div class="form-step">
            <h3>Approvals</h3>
            
            <div>
                <div class="dev-row-row">
                    <div class="input-field-approval">
                        <label>Business Owner/Rep/PM</label>
                        <input type="text" name="business_name" placeholder="name">
                        <input type="text" name="business_sig" placeholder="e-Signature">
                    </div>
                    <div class="input-field-approval">
                        <label>IT Project Manager</label>
                        <input type="text" name="it_project_name" placeholder="name">
                        <input type="text" name="it_project_sig" placeholder="e-Signature">
                    </div>
                    <div class="input-field-approval">
                        <label>IT Service Owner Manager</label>
                        <input type="text" name="it_service_name" placeholder="name">
                        <input type="text" name="it_service_sig" placeholder="e-Signature">
                    </div>
                    <div class="input-field-approval">
                        <label>IT Business Partner</label>
                        <input type="text" name="it_business_name" placeholder="name">
                        <input type="text" name="it_business_sig" placeholder="e-Signature">
                    </div>
                    <div class="input-field-approval">
                        <label>IT PMO Manager</label>
                        <input type="text" name="it_pmo_name" placeholder="name">
                        <input type="text" name="it_pmo_sig" placeholder="e-Signature">
                    </div>
                </div>
            </div>

    
            <input type="hidden" name="final_submit" value="true">
    
            <div class="button-section">
                <button type="button" class="prev-step">Previous</button>
                <button type="button" class="next-step">Next</button>
    
            </div>
        </div>
        <div class="submit-button-section">
            <button type="submit" class="next-step">Submit</button>
        </div>


    
    </form>
</div>


<script defer src="{% static 'js/form_navigation.js' %}"></script>
</body>
</html>
