
<!-- <div class="head" style="background-color: blue;">
    <h2>KPI</h2>
    <div class="head-items">
        <a href="{% url 'employee-projects' %}">Projects</a>
        <a href="">welcome {{user.username}}</a>
        <a href="{% url 'logout_view' %}">logout</a>
    </div>
</div> -->


<!-- templates/components/_header.html -->
<!-- <div class="head" style="background-color: {{ bgcolor }};">
    <h2>KPI</h2>
    <div class="head-items">
        <a href="{% url 'employee-projects' %}">Projects</a>
        <a href="">welcome {{ user.username }}</a>
        <a href="{% url 'logout_view' %}">logout</a>
    </div>
</div> -->
